<!DOCTYPE html>
<html ng-app="worth1000">

<head>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>

<body class="container" ng-controller="ContentController as contentCtrl">
  <img src="http://i.imgur.com/2GPVGyP.jpg" />
  <h4>Comments</h4>
  <ul>
    <li ng-repeat="story in contentCtrl.stories">
      <blockquote>
        {{story.message}}
        <cite class="clearfix">-{{story.author}}</cite>
      </blockquote>
    </li>
  </ul>


  <form name="commentForm" ng-submit="contentCtrl.addComment(content)">
    <h4>Add a new comment</h4>
    <ul ng-show="content">
      <li>
        <blockquote>
          {{content.message}}
          <cite class="clearfix">-{{content.author}}</cite>
        </blockquote>
      </li>
    </ul>
    <textarea ng-model="content.message"></textarea>
    <label>By:</label>
    <input ng-model="content.author" type="email" />
  </form>

</body>

</html>
